<div class="center hero-unit">
  <h1>Projet BOUTIN Yoann</h1>

  <h2>
    Bienvenue sur la page principale du projet de Framework de BOUTIN Yoann.
  </h2>

  <%= link_to "Inscription!", signup_path, class: "btn btn-large btn-primary" %>
</div>
