<li>
  <span class="sujet">Sujet : <%= anecdote.sujet %></span>
  <span class="theme">Theme : <%= anecdote.theme %></span>
  <span class="texte">Récit : <%= anecdote.texte %></span>
  <span class="timestamp">
    Publié il y a <%= time_ago_in_words(anecdote.created_at) %> .
  </span>
</li>
